

.buttons-container {
    margin: 3px;
    border: 3px solid green;
}

.button-increment{
    border: 2px solid purple;
    padding: 5px;
    background-color: rgb(207, 131, 207);
    border-radius: 10px;
}

.button-decrement{
    border: 2px solid rgb(15, 28, 172);
    padding: 5px;
    background-color: rgb(211, 28, 67);
    border-radius: 10px;
}